body {
  background: #f9f1ec !important;
  /* padding: 30px; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  margin: 5px 0 0 0;
}

header h1 {
  padding: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  /* using a banner as a background image */
  background: url("./images/header-cartoon-lavender.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
}

footer {
  padding: 10px;
  background-color: #d9c1e7;
}

.nav {
  background-color: #d9c1e7;
}

.icon {
  width: 20%;
}

.aboutme,
.portfolio,
.contact,
.resume {
  margin: 20px;
}

.recent-photo {
  float: left;
  margin: 0 20px 0 0;
  width: 20%;
  min-width: 100px;
  max-width: 150px;
  border: 5px;
  border-style: solid;
  border-color: #956bc6;
}

.projects {
  margin: 20px;
  padding: 10px;
  /* border: 1px dotted #d9c1e7; */
  /* border-radius: 10px; */
}

.project-screenshots {
  width: 100%;
  border: 5px solid #d9c1e7;
  border-radius: 10px;
}

.project-screenshots:hover {
  border-color: lightblue;
}